<
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>modify</title>
</head>
<body>
	<h1>User 수정</h1>
	<form th:action="@{/user/modify}" method="post"> <!-- 전부 타임리프 문법을 적용해야한다. 타임리프 문법을 적용하려면 타임리프 속성을 붙여야한다 -->
	<table border="1">
		<tr>
			<td>아이디</td>
			<td><input type="text" name="uid" readonly th:value="${userVo.uid}"></td> <!-- 전부 타임리프 문법을 적용해야한다. 타임리프 문법을 적용하려면 타임리프 속성을 붙여야한다 -->
			
			<!-- 아이디는 수정을 못하게하는것 속성은 readonly -->
		</tr>
		<tr>
			<td>이름</td>
			<td><input type="text" name="name" th:value="${userVo.name}"></td>

		</tr>
		<tr>
			<td>휴대폰</td>
			<td><input type="text" name="hp" th:value="${userVo.hp}"></td>

		</tr>
		<tr>
			<td>나이</td>
			<td><input type="text" name="age" th:value="${userVo.age}"></td>

		</tr>
		<tr>
			<td colspan="2" align="right">
			<input type="submit" value="수정하기">
			</td>
		</tr>
	</table>
	</form>
</body>
</html>